<!DOCTYPE html>
<html>
  <head>
    <title>BuildingViolationsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://use.fontawesome.com/e075f06003.js" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Rubik|Roboto+Slab:700" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
